body {
    margin: 0px;
}
header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

#logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

header ul {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.headerLinks {
    text-decoration: none;
    color: white;
}

#topBox {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 100px 0px;
    background-color: #1F2937;
}

.topLeft {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    height: 250px;
}

.topLeft h2 {
    margin: 0px;
    font-size: 64px;
    color: white;
}

.topLeft p {
    margin: 0px;
    color: whitesmoke;
    font-size: 16px;
}

.topLeft button {
    background-color: #3B82F6;
    align-self: flex-start;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

.topRight {
    background-color: gray;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}